*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
        background: linear-gradient(135deg, #153677, #4e085f);
}
.container{
  width: 450px;
    min-height: 200px;
    background-color: #ffffff;
      margin: 10rem auto;  
         padding: 2rem;
         border-radius: 1rem;
}
h1{
    color: #0a004d;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h1 i{
    color: #4e085f;
    margin-left: 0.5rem;
}
form {
  position: relative;
  width: 100%;
}

form input {
  width: 100%;
  height: 40px;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 1rem;
}

form button {
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% - 0.4rem);
   padding: 0.5rem 2rem; 
  background-color: #4e085f;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
form button:hover {
  background-color: #3c0647;
}
.ulTask {
  margin-top: 1rem;
}
.ulTask ul{
    list-style: none;
}
.ulTask ul input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: #4e085f;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.ulTask ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  position: relative;
}
#deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #4e085f;
  font-size: 1.5rem;
}